.thread{
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #e2e2e2 ;
}

.thread:hover{
    background-color: #ebebeb;
}

.text{
    flex: 1;
    margin-left: 15px;
}
.text > h2 {
    font-size: 17px;
    margin-bottom: 8px;
}